@model IEnumerable<EcommerceHouse.Models.ProductTypes>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-dark">House Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-dark"><i class="fa fa-plus"></i>&nbsp; New House Type</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-dark">
            <th>
               House Type
            </th>
            <th></th>
            <th></th>
            
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>item.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
        }
    </table>
</div>
